Django>=4.0,<5.0
djangorestframework
gunicorn
django-cors-headers
whitenoise
psycopg2-binary
python-dotenv
Pillow
openpyxl
reportlab
PyPDF2
fpdf
qrcode
django-filter
requests
drf-yasg
python-decouple
